<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard - Student Grades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/teacher.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-danger">
        <a class="navbar-brand" href="#">
            <i class="fa fa-book"></i>
            Teacher Dashboard
        </a>
        <a href="/login" class="back-home-btn">Back to Home</a>
    </nav>



    <div class="container-fluid mt-4">
        <div class="row">
            <!-- ===== STUDENT LIST (LEFT COLUMN) ===== -->
            <div class="col-md-4">
                <div class="card" id="left-panel">
                    <div class="card-header bg-dark text-white" id="left-panel-header">
                        <i class="fa fa-university"></i> Your Classes
                    </div>
                    <div class="list-group list-group-flush" id="left-panel-list">
                        <!-- Dummy Class Data - This will be loaded dynamically -->
                        <a href="#" class="list-group-item list-group-item-action" data-class-id="101">
                            <h6 class="mb-1">TOEIC 550</h6>
                            <small>3 students</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" data-class-id="102">
                            <h6 class="mb-1">IELTS 6.5</h6>
                            <small>1 student</small>
                        </a>
                    </div>
                </div>
            </div>


            <!-- ===== STUDENT DETAILS & GRADES (RIGHT COLUMN) ===== -->
            <div class="col-md-8">
                <div class="card" id="right-panel">
                    <div class="card-header bg-dark text-white">
                        <i class="fa fa-address-card"></i> Details
                    </div>
                    <div class="card-body" id="details-content">
                        <div class="text-center text-muted placeholder-content">
                            <i class="fa fa-hand-o-left fa-3x mb-3"></i>
                            <p>Please select a class from the list to view its students.</p>
                        </div>

                        <!-- Grade form will be injected here by JavaScript -->

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/teacher-home.js"></script>
</body>

</html>