.gallery-img-container {
    position: relative;
}

.gallery-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.delete-img-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}